<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="./assets/Logo.png" alt="Logo Hello Pet!" />
        <h1>Hello Pet!</h1>
      </div>
      <nav>
        <ul>
          <li><a href="./index.html">Home</a></li>
        </ul>
      </nav>
    </header>
    <section class="sobre">
        <h2>Quem somos</h2>
        <p>
          Somos o grupo <strong>Hello Pet</strong>, composto por Anna Lúcia de Sousa Dias, Gabriel Ceron de Melo, Gabriel Eduardo de Miranda Andrade, Gustavo Pereiro da Silva e Nicolas Silva Espinar — estudantes da <strong>FAM - Faculdade das Américas</strong>.
        </p>
      
        <p>
          Este projeto tem como objetivo o desenvolvimento de um <strong>sistema de prontuário veterinário eletrônico</strong>, no qual será possível cadastrar o pet e seu tutor, registrar informações de anamnese, vacinas, medicações, exames e consultas — criando assim um <strong>histórico clínico completo</strong> do animal.
        </p>
      
        <h2>Missão</h2>
        <p>
          Desenvolver soluções digitais que facilitem a rotina de clínicas veterinárias e promovam um cuidado mais eficiente e organizado para os pets.
        </p>
      
        <h2>Visão</h2>
        <p>
          Ser referência em inovação e praticidade na área de softwares e automações para a área veterinária, com sistemas acessíveis e funcionais.
        </p>
      
        <h2>Valores</h2>
        <ul>
          <li>Responsabilidade e ética com os dados</li>
          <li>Comprometimento com a saúde animal</li>
          <li>Trabalho em equipe</li>
          <li>Inovação e melhoria contínua</li>
        </ul>
    </section>      
    <footer>
        <div class="footerContainer">
          <img src="../static/Logo.png" alt="Logo Hello Pet!" class="footer-logo" />
          <p>&copy; 2025 Hello Pet! - Todos os direitos reservados.</p>
          <p>Email: contato@hellopet.com</p>
          <p><a href="https://www.instagram.com/hello_1_pet?igsh=MXQ0cnhyYnl2dWhmbw==" target="_blank">instagram</a></p>
      </div>
    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>
